<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.internationalstudenthelper">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="GBC ISH"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.gbcish.ContactUsActivity"
            android:parentActivityName="com.gbcish.DashboardActivity"></activity>
        <activity android:name="com.gbcish.PostActivity"></activity>
        <activity android:name="com.gbcish.ExploreActivity" />
        <activity android:name="com.gbcish.ManageActivity" />
        <activity
            android:name="com.gbcish.ProfileActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name="com.gbcish.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <activity android:name="com.gbcish.RegisterActivity" />
        <activity android:name="com.gbcish.LoginActivity" />
        <activity
            android:name="com.gbcish.SplashActivity"
            android:theme="@style/NoTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>