<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.internationalstudenthelper">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="GBC ISH"
        android:roundIcon="@drawable/applogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBlw_dMVWjZf2OyeldB5vcb7EyhtDjRdZY"/>

        <activity android:name="com.gbcish.MapActivity"></activity>
        <activity android:name="com.gbcish.ElectronicsActivity" />
        <activity android:name="com.gbcish.ExploreDetailsActivity" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name="com.gbcish.newsDetailScreenActivity"
            android:label="@string/title_activity_news_detail_screen" />
        <activity
            android:name="com.gbcish.ExploreDetailMainActivity"
            android:label="@string/title_activity_explore_detail_main" />
        <activity android:name="com.gbcish.JobSearchActivity" />
        <activity
            android:name="com.gbcish.CurrencyConvertorActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name="com.gbcish.RentalActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name="com.gbcish.ContactUsActivity"
            android:parentActivityName="com.gbcish.DashboardActivity" />
        <activity android:name="com.gbcish.PostActivity" />
        <activity
            android:name="com.gbcish.ExploreActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name="com.gbcish.ManageActivity" />
        <activity
            android:name="com.gbcish.ProfileActivity"
            android:theme="@style/NoTheme" />
        <activity
            android:name="com.gbcish.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <activity android:name="com.gbcish.RegisterActivity" />
        <activity android:name="com.gbcish.LoginActivity" />
        <activity
            android:name="com.gbcish.SplashActivity"
            android:theme="@style/NoTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>